.border-gradient-br-pink-yellow-gray-900 {
  background: linear-gradient(to right, #18181b, #18181b),
    linear-gradient(to bottom right, #da12cc, #eed11d);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

/* stylelint-disable-next-line selector-class-pattern */
.hover\:border-gradient-tl-pink-yellow-gray-900:hover {
  background: linear-gradient(to right, #18181b, #18181b),
    linear-gradient(to top left, #da12cc, #eed11d);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.gradient-border-3 {
  border: 3px solid transparent;
}
